@charset "utf-8";

/* Style
このファイルにスタイルを書いていってください。
共通するフォントサイズ・形式・カラーと見出しタグ(h1&h2)はすでにglobal.cssで指定してあるので
ここで個別に設定しなくても大丈夫です。
SNSアイコンにスタイルをあてる人はglobal.cssに書いてください。
*/

/* clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}

/*Header
************************************/


em{
	font-style: normal;
}
.dark_green{
	color: #4fb7aa;
}
.pink{
	color: #e63844;
}
.txt_shadow{
	text-shadow: 5px 5px 5px #ccc;
}

/*Events
************************************/

#upcoming{
	margin-top:1em;
	}
	
#upcoming li{
	border-bottom:1px solid #d9d9d9;
	padding:10px 0;
	}
	
.event_date,.event_link{
	margin-top:5px;
	}
	
.event_link a{
	color:#222;
	}

.event_link a:hover{
	color:#00b6aa;
	}
	
.event_rvsp{
	float:right;
	}

/*#upcoming .grid{
	position:relative;
	}


.event_rvsp{
	position:absolute;
	right:0;
	top:25%;
	}

.event_location{
	margin-top:5px;
	}*/
	

/* Past Meetups */
#past_meetups_list{
	margin-bottom: 1em;
}
#past_meetups_list div{
	position: relative;
}
#past_meetups_list a{
	color: #fff;
}
#past_meetups_list a span{
	display: block;
	position: absolute;
	top: 250px;
	text-align: center;
	padding: 20px 0;
	background: rgba(0, 0, 0, 0.4);
}
#past_meetups_list .col-1-3 img{
	width: 100%;
}

/* Join Us button */
.btn_join {
	border-radius: 5px;
	color: #fff;
	font-size: 3em;
	background: #00b6aa;
	padding: 20px 30px;
	text-decoration: none;
}
.btn_join:hover {
	background: #8accc8;
	text-decoration: none;
}


/*Contacts and Sponsor
************************************/
#whoweare{
	margin-left: 1em;
}
#whoweare dt{
	float: left;
	clear: left;
	width: 20%;
	margin-bottom: 10px;
}
#whoweare dd{
	float: left;
	width: 80%;
	margin-left: 0;
	margin-bottom: 10px;
}
#whoweare dd:before{
	content: '\A0:\A0\A0\A0';
}

/*Footer
************************************/


/*Slider
************************************/


/*Button to Pagetop
************************************/

#btn_pagetop{
	position: fixed;
	bottom: 20px;
	right: 20px;
}
#btn_pagetop a{
	background-color: #99e1dc;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
	padding: 10px 15px;
	opacity: 0.8;
}
#btn_pagetop a:hover{
	background-color: #4fb7aa;
}
