@charset "utf-8";

/* Style
このファイルにスタイルを書いていってください。
共通するフォントサイズ・形式・カラーと見出しタグ(h1&h2)はすでにglobal.cssで指定してあるので
ここで個別に設定しなくても大丈夫です。
SNSアイコンにスタイルをあてる人はglobal.cssに書いてください。
*/


/*Header*/
.header {
  padding: 15px 0;
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

#menu ul{
	tborder-bottom: 3px solid #00b6aa;
	padding: 0 5px;
	width: auto;
	background: #97d4d0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#menu li{ 
	display: inline; 
	padding: 0 10px; 
	margin-left: auto; 
	float: left;
}

#menu li a{
	display: block; 
	padding: 3px;
	text-decoration: none;
	width: 150px; 
	margin: 1px;
	text-align: center;
	font-size: 14px;
}

#menu li a:hover{
	background-color: #00b6aa;
	color: #fff;
}

/************************************/

/*Events
************************************/

#upcoming{
	margin-top:1em;
	}
	
#upcoming li{
	border-bottom:1px solid #d9d9d9;
	padding:10px 0;
	}
	
.event_date,.event_link{
	margin-top:5px;
	}
	
.event_link a{
	color:#222;
	}

.event_link a:hover{
	color:#00b6aa;
	}
	
.event_rvsp{
	float:right;
	}

/*#upcoming .grid{
	position:relative;
	}


.event_rvsp{
	position:absolute;
	right:0;
	top:25%;
	}

.event_location{
	margin-top:5px;
	}*/
	

/*Contacts and Sponsor
************************************/


/*Footer
************************************/


/*Slider
************************************/
